/*common*/
#container{
    /*width: 100vw;*/
    min-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
header{
    width: 100%;
    margin: 0;
    text-align: center;

}

/*logo*/
.logo{
    height: 10em;
    width: inherit;
}
.logo>div{
    width: 30%;
}
.logo img{
    /*display: block;*/
    padding: 3.6em;
    padding-right:0.5em ;
    /*max-width: 100%;*/
}
/*.logo li{*/
    /*!*background-color: #0f0f0f;*!*/
    /*border: 1px solid black;*/
    /*border-radius: 50%;*/
    /*margin-top:4em ;*/
    /*margin-left:2em;*/
    /*width: 2em;*/
    /*height: 2em;*/
/*}*/
/*navigator*/

nav{
    border-radius: 0.2em;
    width: inherit;
    background-color:#183884;
    margin: 0 auto;

}
nav ul{
    background-color: inherit;
    height: 2.5em;


}
nav a{
    height:inherit;
    line-height: 2.5;
    display: block;
    width: calc(10% - 0.4em);
    /*padding: 0em;*/
    float: left;
    color: #f5f5f5;
    overflow: hidden;
    background-color: inherit;
}
nav a:first-child{
    margin-left: 15%;
}
nav a:hover{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #081d4d;
}
nav li{
    /*font-size: 1.5em;*/
}